body {
	font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #fff; */
	/* overflow: hidden; */
}

:root {
	--sidebar-width: 240px;
	--sidebar-bg: #231b2e;
	--player-bg: #120c1c;
	--player-height: 90px;
	--primary-bg: #432275;
	--main-bg: #170f23;
	--header-height: 70px;
	--card-title-hover: #c662ef;
	--card-description: hsla(0, 0%, 100%, 0.5);
	--primary-color: #7200a1;
}